.highlight {
  @include border-white;
  @include article-linx;
  @include box-border;
  background: white;
  margin: .5rem 0;
  padding: .5rem;
  font-size: 1.5rem;
  h2 {
    margin: 0;
    padding: 0;
  }
  .date {
    color: #a1a1a1;
  }
}

@media (min-width: $flex-width) {
  .highlight {
    @include span-columns(4);
    @include omega(3n);
    font-size: .5rem;
    padding: 0 .5rem;
    .text-block {
      overflow: hidden;
      height: 12rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      margin: .75rem 0;

    }
    p {
      line-height: 1.5;
    }
  }
}
