.highlight {
  @include border-white;
  @include article-linx;
  background: white;
  margin: .5rem 0;
  padding: 1rem;
  font-size: 1rem;
  h2 {
    margin: .5rem 0;
  }
  .date {
    color: #a1a1a1;
  }
  p {
    color: #747474;
  }
}
