body {
  @include outer-container;
  // width: 100%;
  margin: 1.5rem 1.5rem 3rem 1.5rem;
  // background-image: url("assets/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.jpg");
  font-family: 'Roboto Condensed', helvetica, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

@media (min-width: $flex-width) {
  body {
    margin: 1vw 20% 10vw 20%;
  }
}

p {
  color: #747474;
}

a {
  text-decoration: none;
}

ul {
  @include list-collapse;
}

img {
  width: 100%;
}
