.contact {
  background-color: white;
  padding: 1rem;
  font-size: 1rem;
  @include box-border;
  .contact-debrief {
    li {
      display: inline-block;
    }
    h3 {
      padding: 0;
      margin: 0 auto;
      font-weight: lighter;
    }
  }

  .contact-form {
    .contact-message {
      width: 100%;
      padding-bottom: 10rem;
    }
    input {
      // border: solid .1rem .1rem .1rem .5rem $color-article-p;
      border-top: solid $border-contact-field $color-article-date;
      border-right: solid .001rem $color-article-date;
      border-bottom: solid .001rem $color-article-date;
      border-left: solid $border-contact-field $color-article-date;
      color: $color-article-date;
      margin: .5rem auto;
    }
    button {
      color: $color-imageh1-text;
      background-color: $color-article-link;
      border: 0;
      font-weight: 200;
      padding: .5rem 2rem;
    }
  }
}

// @media (min-width: 600px) {
//   .contact {
//     @include outer-container;
//     .contact-debrief {
//       @include span-columns(1 of 2);
//
//     }
//     .contact-form {
//       @include span-columns(1 of 2);
//     }
//   }
// }
