.hero-slider {
  position: relative;
  @include border-white;
  @include clearfix;
  overflow: hidden;
  @include box-border;
  // height: 7rem;
  li {
    @include clearfix;
  }
  li img {
    float: left;
  }
  .logo {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 45%;
    }
  .grid-overlay {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 150%;
    float: left;
    opacity: .25;
  }
}

.radio-selectors {
  input {
    @include box-border;
    border-radius: 50%;
  }
}

@media (min-width: $flex-width) {
  .hero-slider {
    height: 15rem;
    li img {
      width: 150%;
      position: absolute;
      left: -7rem;
      top: -7rem;
    }
    .logo {
      top: 15%;
      left: 1rem;
      width: 40%
    }
  }
}
