.imagehl {
  @include border-white;
  @include clearfix;
  @include box-border;
  position: relative;
  text-align: center;
  margin: .5rem 0;
  h4 {
    position: absolute;
    // max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: $color-imageh1-text;
    font-size: 4.5rem;
    font-weight: 600;
  }
  a {
    @include clearfix;
  }
  a:hover h4 {
    color: $color-hover;
  }
  img {
    float: left;
  }
}

.board-block {
  background: white;
  padding: .5rem;
  margin: 2rem 0;
  @include box-border;
  ul {
    @include clearfix;
    @include outer-container;
  }
  li {
    @include span-columns(1 of 10);
    @include omega(10n);
  }
}

.pointer {
  @include box-border;
  background: $color-article-link;
  height: 5rem;
  width: 20%;
  position: relative;
  left: -12rem;
  text-align: center;
  float: left;
  display: inline-block;
  span {
    display: inline-block;
    font-size: 1.25rem;
    color: white;
    padding-top: 2vw;
  }
}

.pointer::after {
  @include triangle(5rem 1.75rem, $color-article-link, right);
  // @include box-border;
  content: "";
  position: absolute;
  left: 48%;
  transform: translateX(5rem);
}


@media (min-width: $flex-width) {
  .image-highlights {
    @include outer-container;
    clear: left;
  }
  .imagehl {
    h4 {
      font-size: 2rem;
    }
    @include span-columns(4);
    @include omega(3n);
    height: 10rem;
    overflow: hidden;
    position: relative;
  }
  .image-standard img {
    width: 140%;
  }
  .image-standard.lance img {
    position: relative;
    bottom: 0;
    left: -5rem;
  }
  .imagehl.image-vertical {
    height: 21rem;
    display: inline-block;
    float: right;
    img {
      width: 275%;
      position: relative;
      left: -24vw;
      bottom: 0;
    }
  }
  .image-horizontal {
    @include span-columns(8);
    clear: right;
    height: 10rem;
      img {
        position: relative;
        left: 0rem;
        bottom: 3rem;
      }
  }

  // .board-block {
  //   background: white;
  //   // padding: .5rem;
  //   ul {
  //     @include clearfix;
  //     // @include outer-container;
  //   }
  //   li {
  //     display: inline-block;
  //     float: left;
  //     width: 10%;
  //     img {
  //       width: 100%;
  //     }
  //   }
  // }
}
