.main-menu {
  text-align: center;
  ul {
  }
  li {
    text-align: center;
    display: inline-block;
    background: #B4292E;
    width: 15rem;
    padding: .5rem 0;
    margin: 0.2rem 0;
    transition: all .3s;
  }
  a {
    color: white;
  }
  // .menu-option {
  //   opacity: 0;
  //   transition: all 0.5s;
  // }
  // ul:hover .menu-option {
  //   opacity: 1;
  // }

}
